<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'PASSWORD' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <form [formGroup]="formgroup" #newPassForm="ngForm" (ngSubmit)="changePass()">
    <ion-list>
      <ion-item>
        <ion-label>
          {{ 'CURRENT' | translate }}
        </ion-label>
        <ion-input type="text" formControlName="old_password">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="old_password.hasError('required') && old_password.touched">
        <p> {{ 'OLD_PASSWORD_ERROR' | translate }} </p>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ 'NEW' | translate }}
        </ion-label>
        <ion-input type="text" formControlName="password">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="password.hasError('required') && password.touched">
        <p> {{ 'PASSWORD_REQUIRED_ERROR' | translate }} </p>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ 'VERIFY' | translate }}
        </ion-label>
        <ion-input type="text" formControlName="repeat_password">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="repeat_password.hasError('matchOther') && repeat_password.touched">
        <p> {{ 'PASSWORD_VERIFY_REQUIRED_ERROR' | translate }} </p>
      </ion-item>
    </ion-list>
    <button type="submit" [disabled]="newPassForm.form.invalid" text-capitalize ion-button outline color="primary">
      {{ 'SAVE' | translate }}
    </button>
  </form>
</ion-content>