<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addSession()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="!is_started_by_user" text-center>
    <p>Aún no has configurado tu programa</p>
    <button ion-item (click)="goSetup()">
      <h2>{{ 'SETUP_YOUR_PROGRAM' | translate }}</h2>
    </button>
  </div>
  <ng-template  #template let-view="view" let-row="row" let-col="col">
    <div *ngIf="view.dates[row*7+col].events[0]" class="calendar-state-{{view.dates[row*7+col].events[0].state}}" [ngClass]="{'calendar-manual': view.dates[row*7+col].events[0].manual, 'calendar-reprogram': view.dates[row*7+col].events[0].reprogram}">
      <span>{{view.dates[row*7+col].label}}</span>
    </div>

    <div *ngIf="!view.dates[row*7+col].events[0]">
      <span>{{view.dates[row*7+col].label}}</span>
    </div>
  </ng-template>
  <calendar  [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)"
    [markDisabled]="markDisabled" [monthviewDisplayEventTemplate]="template" [locale]="calendar.locale" autoSelect=false step="30"
    class="calendar">
  </calendar>

  <div padding text-center class="forgot-pass" *ngIf="todaySession">
    <button ion-button block color="danger" (click)="doSession(todaySession)">{{ 'DO_SESSION' | translate }}</button>
    <br/>
    <button ion-button block outline color="primary" (click)="rescheduleSession(todaySession)">{{ 'RESCHEDULE_SESSION' | translate }}</button>
  </div>
  <ion-list *ngIf="!todaySession && nextSession && (nextSession.can_reprogram_now || nextSession.can_reprogram_next_day)">
    <button ion-item (click)="rescheduleSession(nextSession)">
      <h2>{{ 'RESCHEDULE_NEXT_SESSION' | translate }}</h2>
      <p>{{nextSession.formatDateTime()}}</p>
    </button>
    <!--<ion-item text-center>
            <p>{{ 'NO_SESSION' | translate }}</p>       
        </ion-item>  -->
  </ion-list>
  <!--<ion-list *ngIf="nextSession" > 
        <button ion-item (click)="calendarSessionView(nextSession)">            
            <h2>SIG</h2>
          </button>    
    </ion-list>-->

  <!--
      <ion-list >
          <button ion-item (click)="doSession()">            
            <h2>Hacer sesión del día</h2>
            <p>{{ 'NEXT_SESSION' | translate }}</p>
          </button>    
        </ion-list>
      -->

</ion-content>