page-calendar {
    .event-detail-container{
        display: none;
    }

    td[_ngcontent-c1] div{
        border-radius: 15px;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        font-size: 12px;
        border:3px solid transparent;
        font-weight: bold;
    }
    td[_ngcontent-c1] div span{
        padding-top: 2px;
        display: block;
    }

    td[_ngcontent-c1] div.calendar-state-0{
        background-color: $notification-missed-color;
        color: #fff !important;
    }
    td[_ngcontent-c1] div.calendar-state-1{
        background-color: $notification-worst-color;
        color: #fff !important;
    }
    td[_ngcontent-c1] div.calendar-state-4{
        background-color: $notification-worst-color;
        color: #fff !important;
    }
    td[_ngcontent-c1] div.calendar-state-2{
        background-color: $notification-better-color;
        color: #fff !important;
    }
    td[_ngcontent-c1] div.calendar-state-5{
        background-color: $notification-better-color;
        color: #fff !important;
    }
    td[_ngcontent-c1] div.calendar-state-3{
        background-color: $notification-same-color;
        color: #fff !important;
    }

    td[_ngcontent-c1] div.calendar-manual{
        border:3px solid #000;
    }

    td[_ngcontent-c1] div.calendar-reprogram.calendar-state-0{
        border:3px solid $notification-missed-color;
        background-color: #fff;
        color:#000 !important;
    }
    td[_ngcontent-c1] div.calendar-reprogram.calendar-state-1{
        border:3px solid $notification-worst-color;
        background-color: #fff;
        color:#000 !important;
    }
    td[_ngcontent-c1] div.calendar-reprogram.calendar-state-4{
        border:3px solid $notification-worst-color;
        background-color: #fff;
        color:#000 !important;
    }
    td[_ngcontent-c1] div.calendar-reprogram.calendar-state-2{
        border:3px solid $notification-better-color;
        background-color: #fff;
        color:#000 !important;
    }
    td[_ngcontent-c1] div.calendar-reprogram.calendar-state-5{
        border:3px solid $notification-better-color;
        background-color: #fff;
        color:#000 !important;
    }
    td[_ngcontent-c1] div.calendar-reprogram.calendar-state-3{
        border:3px solid $notification-same-color;
        background-color: #fff;
        color:#000 !important;
    }

    .monthview-primary-with-event, .monthview-selected{
        background-color: transparent !important;
    }

    .monthview-selected[_ngcontent-c1] {
        background-color: transparent ;
        color: #000;
    }

    [_nghost-c0] > div[_ngcontent-c0] {
        height: auto;
    }

    .monthview-current[_ngcontent-c1] {
        background-color: #f0f0f0 !important;
    }
}
