page-forgot {
    .scroll-content, ion-item, ion-list{
        background-color: #eee !important;
    }

    .big-logo{
        width: 90%;
        margin: 100px auto;
        display: block;
    }

    .forgot-pass .button{
        font-size: 12px !important;
    }
}
